.menu-contenedor{
    height: 98vh;
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: 15% auto auto;
    grid-template-rows: 10% auto auto;
}
.lateral-izquierdo{
    background-color:#034285;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.superior{
    background-color: lightblue;
    grid-column-start: 2;
    grid-column-end: 4;
}
.area-trabajo{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
/*
#034285
:#eeeeee
*/
#logo{
    background-image:url("../Imagenes/valurq2.ico");
    background-size: 50% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 100px;
    margin:5%;
}
#menu-items{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-opcion{
    width: 100%;
    min-height: 60px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px;
    z-index: 3;
}
.menu-opcion:hover{
     background-color:#b5b5b5;
     z-index: 4;
}
/*
#499bea
#d9d9d9
*/

.icono-opcion{
    min-height: 50px;
    min-width: 50px;
    background-color: blue;
}
.titulo-opcion{
    font-size: 14pt;
    font-family: Arial;
    margin-left: 15px;
}
.url{
    width: 100%;
    text-decoration: none;
    color:black;
}
.desactivado{
    cursor:not-allowed;
    background-color: #b5b5b5;
    color:#808080
}
#frame-trabajo{
    width: 100%;
    height:100%;
}
